.floting{
    display: flex;
    justify-content: space-around;
    background: white;
    box-shadow: var(--boxShadow);
    border-radius: 17px;
    padding: 0px 28px 0px 0px;
    height: 4.5rem;
    align-items: center;
}
.floting>img{
    transform: scale(0.5);
}
.floting>span{
    font-family: sans-serif;
}
